.StockItem {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 1rem;
  border-radius: var(--border-radius-large);
  margin-bottom: 1rem;

  &-data {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
  }

  &-isin {
    font-size: var(--font-size-xs);
    font-weight: 600;
    margin-bottom: 0.25rem;
    color: var(--color-grey8);
  }

  &-price {
    font-size: var(--font-size-l);
    font-weight: 600;
  }

  @media (min-width: 576px) {
    &-isin {
      font-size: var(--font-size-s);
    }

    &-price {
      font-size: var(--font-size-xl);
    }
  }
}

