.alert {
  padding: 15px 60px 15px 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  position: relative;

  &-warning {
    color: var(--color-warning);
    background-color: var(--color-warning-bg);
    border-color: var(--color-warning-border);
  }
}
