.header {
  position: sticky;
  top: 0;
  background-color: var(--color-background);
  z-index: 1000;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  display: flex;
  max-width: var(--max-width);
  border-bottom: 1px solid var(--color-white);
  transition: all 0.3s ease;

  .header-logo {
    width: 60px;
  }
}

.button-theme {
  border: none;
  cursor: pointer;
  padding: 0;
  border-radius: var(--border-radius-circle);
  width: 40px;
  height: 40px;
  background-color: transparent;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--color-background3);
  }

  &:active {
    background-color: var(--color-background4);
  }
}
