.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: var(--color-black);
  color: var(--color-white);
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.error-text {
  color: var(--color-error);
  margin-bottom: 0;
  margin-top: 0.25rem;
  font-size: var(--font-size-s);
}
