#app {
  font-family: var(--font-regular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: 0 auto;
  padding: 1.5rem;
}

.error-text {
  color: var(--color-primary-red4);
}
